FunnyGame/bin/Debug/
FunnyGame/obj/Debug/
FunnyGameUnitTest/bin/Debug/
FunnyGameUnitTest/obj/Debug/
FunnyGame/packages/
FunnyGame/FunnyGame.csproj.DotSettings
FunnyGame/bin/
FunnyGame/obj/
FunnyGameUnitTest/obj/
FunnyGameUnitTest/bin/
FunnyGame/.nuget/
